<p id="notice"><%= notice %></p>

<h1>Servers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>Ram capacity</th>
      <th>Current ram usage</th>
      <th>Cores available</th>
      <th>Current core usage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.port %></td>
        <td><%= server.hostname %></td>
        <td><%= server.ram_capacity %></td>
        <td><%= server.current_ram_usage %></td>
        <td><%= server.cores_available %></td>
        <td><%= server.current_core_usage %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>
