<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @server.address %>
</p>

<p>
<strong>Ram capacity:</strong>
  <%= number_to_human_size @current_stats.ram_capacity %>
</p>

<p>
  <strong>Current ram usage:</strong>
  <%= number_to_human_size @current_stats.current_ram_usage %>
</p>

<p>
  <strong>Cores available:</strong>
  <%= @current_stats.cores_available %>
</p>

<p>
  <strong>Current core usage:</strong>
  <%= @current_stats.current_core_usage %>
</p>

<p>
  <strong>InaBox Active?</strong>
  <%= humanize_boolean @current_stats.active %>
</p>

<%= line_chart ServerHistory.where(server_id: @server.id).group_by_period(params[:period], :created_at).maximum(:usage_in_mb), max: @current_stats.convert_usage_to_mb, library: { elements: { point: { radius: 0 } } } %>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>

