<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @server.address %>
</p>

<p>
<strong>Ram capacity:</strong>
  <% # byebug %>
  <%= number_to_human_size @server.ram_capacity %>
</p>

<p>
  <strong>Current ram usage:</strong>
  <%= number_to_human_size @server.current_ram_usage %>
</p>

<p>
  <strong>Cores available:</strong>
  <%= @server.cores_available %>
</p>

<p>
  <strong>Current core usage:</strong>
  <%= @server.current_core_usage %>
</p>

<p>
  <strong>InaBox Active?</strong>
  <%= humanize_boolean @server.active? %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>

<%= @server.versions.each { |version| version } %>
