<!DOCTYPE html>
<html>
  <head>
    <title>InaBox - Agnostic Distributed Computing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid site-wrapper">
      <%= render 'layouts/partials/nav' %>
    </div>

    <div class="container-fluid">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<div class="content-wrapper">
      	<%= yield %>
			</div>
    </div>

  </body>
</html>
